body {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background-color: #c1ddfb;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: monospace;
    font-variant: all-small-caps;
}

#container {
    width: 624px;
    height: 624px;
    display:flex;
    flex-wrap: wrap;
    border:solid 35px #FFE5F1;
    border-radius: 15px;
    box-shadow: 6px 6px white;
   
}

.colored {
    background-color:#3B475E;
}
.black {
    background-color: black;
}

#container div {
    box-sizing: border-box;
    /* Include border and padding in the element's total width and height */
    width: 39px;
    /* Set the width of each grid item to 30px */
    height: 39px;
    /* Set the height of each grid item to 30px */
    border: 0.5px solid rgb(150, 148, 148);
    /* Add a 1px black border to each grid item */
   
}

.slider-container {
    margin-top: 100px;
    text-align: center;
    margin-right: 50px;
}
.container-with-paragraph {
    text-align: center;
    margin-top: -75px;
}

p {
    font-size: 72px;
    margin-bottom: 4px;
    color:white;
    text-shadow: 2px 3px pink;
} 

button, input{
    color: #ADA2FF;
    height: 45px;
    width: 200px;
    margin-top: 50px;
    font-weight: bold;
    font-family: monospace;
    font-variant: all-small-caps;
    font-size: 29px;
    background-color: #fff8e1;
    border: solid 4px white;
    border-radius: 5px;
    box-shadow: 4px 4px #FFE5F1;
    text-shadow: 2px 2px white;
    
    }
.grid {
    background-color: white;
}

#gridCountPara {
    margin-top: -25px;
    margin-bottom: -45px;
    text-align: center;
}