body {
    display: flex;
    justify-content: center;
    
}

#container {
    width: 624px;
    height: 624px;
    display:flex;
    flex-wrap: wrap;
   border:solid 1px black;
}

.colored {
    background-color: grey;
}


#container div {
    box-sizing: border-box;
    /* Include border and padding in the element's total width and height */
    width: 39px;
    /* Set the width of each grid item to 30px */
    height: 39px;
    /* Set the height of each grid item to 30px */
    border: 0.5px solid black;
    /* Add a 1px black border to each grid item */
}